/*INDEX*/

/*BODY*/

.grid__area__index
{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
}

/*HEADER*/
.header
{
    grid-area: header;
}

.h1__vangogh
{
    font-weight: 600;
    text-align: center;
    height:40px;
    font-family: 'Volkhov', serif;
    font-style: italic;
}

.logotype
{
    height: 100%;
    padding-left: 48%;
    padding-right: 48%;
}

/*NAV*/
.nav
{
    font-family: 'Volkhov', serif;
    font-style: italic;
    background-color: #f2f2f3;
    text-align: center;
    grid-area: nav;
    height: 80px;
}

.nav__ul__li
{
    padding-top: 5px;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

/*MAIN*/
.main__index
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    grid-area: main;
} 

.table__index
{
    margin-top: 15px;
    margin-left: 36%;
}

.section__img
{
    height: 300px;
    width: 250px;
    margin-bottom: 20 px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px ;
}

.section__img__index
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.img__1
{
margin-left: auto;
}

.img__2
{
    margin-right: 90px;
    margin-left: 20px;
}

.img__3
{
   margin-right: auto
}

.section__p__index
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content:space-between;
    flex-wrap: wrap;
}

/*FOOTER*/

.footer
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    background-color: #f2f2f3;
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 100%;
   height: 40px;
   align-items:center ;
   justify-items: center;
   grid-area: footer;

}

/*MEDIA QUERIE - MOBILE INDEX*/

@media screen and (max-width:412px) {

    .nav{
    height: 50px;
    padding-bottom: 15px;
    margin-left: 15px;

    }

    .nav__ul__li
    {
    display: flex;
    justify-content:space-evenly;
    margin-right: 50px;
    }


    .table__index
    {
     width: 300px;
    }

    .section__p__index
    {
        display: grid;
        grid-template-rows: 30px 30px 30px;
        margin-bottom: 20px;
        margin-left: 40px;
        
    }
    
    .img__2
    {
    margin-left: -2px;
    }

    .img__3
    {
        margin-left:-2px;
    }

    .footer
    {
     margin-left:30px;
    }
}

/*MEDIA QUERIE - TABLET INDEX*/

@media screen and (max-width:768px)
{
.nav{
width: 768px;
margin-left: 15px;
}

.nav__ul__li
{
    padding-left: 5px;
}

.section__table
{
    padding-right: 200px;
}

.section__img__index
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__p__index
{
    display:grid;
    grid-template-rows: 30px 30px 30px;
    justify-content: center;
    padding-bottom: 20px;
}
.footer{
    margin-left: 15px;
}


}

/*HISTORIA*/

/*BODY*/

.grid__area__historia
{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";

}

/*HEADER*/

.header
{
grid-area: header;
}

/*NAV*/

.nav
{
    grid-area: nav;
}

/*MAIN*/

.main__historia

{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    grid-area: main;
}

.h2__historia
{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
}

.h3__historia
{
    font-size:medium;
    text-align: center;
}

.img__historia
{
    height:362px;
    width: 420px;
}

/*FOOTER*/

.footer
{
    grid-area: footer;
}



/*PERIODOS*/

/*BODY*/

.grid__area__periodos
{
    display: grid;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

/*HEADER*/

.header
{
    grid-area: header;
}

/*NAV*/

.nav
{
    grid-area: nav;
}

/*MAIN*/

.main__periodos
{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    grid-area: main;
}

.h2__periodos
{
  width: 100%;  
}

.section__periodos
{
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    width: 900px;
    margin-left: 220px;
}

.div__periodos
{
height: 400px;
width: 400px;
}

.div__periodos1
{
height: 80px;
width: 1000px;

}

/*FOOTER*/

.footer__periodos
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    background-color: #f2f2f3;
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 100%;
   height: 40px;
   align-items:center ;
   justify-items: center;
    grid-area: footer;
    margin-top: 400px;
    grid-area: footer;
}

/*MEDIA QUERIE _ MOBILE PERIODOS*/

@media screen and (max-width:412px)  {

    .nav
    {
     margin-left: 5px;  
    }

    .section__periodos
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -1px;}

    .div__periodos1
    {
        width: 800px;
        margin-bottom: 40px;
    }

    .footer
    {
     width: 412px;
    }
}

/*MEDIA QUERIE - TABLET PERIODOS*/

@media screen and (max-width:768px)
{
    .header
    {
        width: 100%;
    }

    .nav{
        width: 100%;
    }

    .section__periodos{
        margin-left: -1px;
    }
}

/*CONTACTO*/

/*BODY*/

.grid__area__contacto
{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

/*HEADER*/

.header
{
    grid-area: header;
}

/*NAV*/

.nav
{
    grid-area: nav;
}

/*MAIN*/

.main__contacto
{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    grid-area: main;
}
.section
{
 margin-bottom: 30px;
}

.section__email
{
    margin-right: 4%;
    margin-bottom: 30px;
}

/*FOOTER*/

.footer
{
    grid-area: footer;
}

/*MUSEO*/

.grid__area__museo
{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";

}

/*HEADER*/

.header
{
    grid-area: header;
}

/*NAV*/

.nav
{
    grid-area: nav;
}

/*MAIN*/

.main__museo
{
    text-align:center;
    list-style-position:inside;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    grid-area: main;
}

/*FOOTER*/

.footer
{
    grid-area: footer;
}
