*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*INDEX*/

/*BODY*/

.grid__area__index
{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
}

/*HEADER*/
.header
{
    grid-area: header;
    background-color:#FFCE01;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.h1__vangogh
{
    font-weight: 600;
    font-family: 'Volkhov', serif;
    font-style: italic;
}

/*NAV*/
.nav
{
    font-family: 'Volkhov', serif;
    font-style: italic;
    font-weight: 600;
    background-color: #FFCE01;
    text-align: center;
    grid-area: nav;
    height: 80px;
}

.nav__ul__li
{
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    align-items: center;
}

li:hover{
transform: scale(1.2);
}

/*MAIN*/
.main__index
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    margin-top: 130px;
    grid-area: main;
} 

.h2
{
text-align: center;
margin-top: 10px;
}

.section__img
{
    height: 300px;
    width: 250px;
    margin-bottom: 20 px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px ;
}

.section__img__index
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.section__p__index
{
    display:grid;
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 100%;
    text-align: center;
    justify-content: center;
}

/*FOOTER*/

.footer__index
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    height: 60px;
    align-items:center ;
    justify-items: center;
    border-top: black solid 1px;
    margin-top: 170px;
    grid-area: footer;
}

/*MEDIA QUERIE - MOBILE INDEX*/

@media screen and (max-width:412px) {

    .section__p__index
    {
        display: grid;
        grid-template-rows: 30px 30px 30px;
        margin-bottom: 20px;
        margin-left: 40px;
        
    }
    
    .img__2
    {
    margin-left: -2px;
    }

    .img__3
    {
        margin-left:-2px;
    }

    .footer
    {
     margin-left:30px;
    }
}

/*MEDIA QUERIE - TABLET INDEX*/

@media screen and (max-width:768px)
{
.nav{
width: 768px;
margin-left: 15px;
}

.nav__ul__li
{
    padding-left: 5px;
}

.section__table
{
    padding-right: 200px;
}

.section__img__index
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__p__index
{
    display:grid;
    grid-template-rows: 30px 30px 30px;
    justify-content: center;
    padding-bottom: 20px;
}
.footer{
    margin-left: 15px;
}


}

/*HISTORIA*/

/*BODY*/

.grid__area__historia
{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";

}

/*HEADER*/

.header
{
grid-area: header;
}

/*MAIN*/

.main__historia
{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    grid-area: main;
}

.main__historia p
{
margin: 2rem 3rem;
text-align: justify;
}

.h3__historia
{
    font-size:medium;
    text-align: center;
}

.img__historia:hover
{
    transform: scale(0.9);
    transition: 2s;
    height:362px;
    width:420px;
}

/*FOOTER*/

.footer
{
    grid-area: footer;
}

/*MEDIA QUERIE _ MOBILE HISTORIA*/

@media screen and (max-width:412px)
{
    .header{
        max-width:max-content;
        display:grid;
        grid-template-columns: 31vw 34vw 35vw;   
        grid-template-rows: 70px;
    }

    .h1__vangogh
    {
        font-size:15px;   
        margin-left:141px;
    }

    .logotype
    {
        margin-left: 80px;
    }

    .nav
    {
        max-width:max-content;
        display:grid;
        grid-template-columns: 31vw 34vw 35vw;  
        margin-left:-0px; 
    }

    .nav__ul__li
    {
        margin-left: 190px;
    }

    .main__historia
    {
        width: 400px;
    }

    .img__historia
    {
        width: 300px;
    }

    .footer
    {
        width: 400px;
        margin-left: -1px;
    }
}


/*PERIODOS*/

/*BODY*/

.grid__area__periodos
{
    display: grid;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

/*HEADER*/

.header
{
    grid-area: header;
}

/*MAIN*/

.main__periodos
{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    grid-area: main;
}

.section__periodos
{
display: flex;
margin-top: 20px;
justify-content: center;
}

.section__periodos1
{
    display: flex;
    justify-content: center;
}

.div__periodos
{
height: 400px;
width: 400px;
}


.div__periodos1
{
height: 80px;
width: 1000px;

}

/*FOOTER*/

.footer__periodos
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    background-color: white;
    border-top: black solid 1px;
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 100%;
   height: 60px;
   align-items:center ;
   justify-items: center;
    grid-area: footer;
    margin-top: 400px;
    grid-area: footer;
}

/*MEDIA QUERIE _ MOBILE PERIODOS*/

@media screen and (max-width:412px)  {

    .section__periodos
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -1px;}

    .div__periodos1
    {
        width: 800px;
        margin-bottom: 40px;
    }

}

/*MEDIA QUERIE - TABLET PERIODOS*/

@media screen and (max-width:768px)
{
    .header
    {
        width: 100%;
    }

    .nav{
        width: 100%;
    }

    .section__periodos{
        margin-left: -1px;
    }
}

/*CONTACTO*/

/*BODY*/

.grid__area__contacto
{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

/*HEADER*/

.header
{
    grid-area: header;
}


/*MAIN*/

.img__contacto:hover
{
transform: scale(0.9);
transition: 2s;
}

.main__contacto
{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    margin-top: 10px;
    grid-area: main;
}
.section
{
 margin-bottom: 30px;
}

.section__email
{
    margin-right: 4%;
    margin-bottom: 30px;
}

/*FOOTER*/

.footer
{
    grid-area: footer;
}

/*MEDIA QUERIE _ MOBILE CONTACTO*/

@media screen and (max-width:412px)
{
    .img__contacto{
        width: 300px;
    }

    .footer
    {
        max-width: 412px;  

    
    }
}

/*MUSEO*/

.grid__area__museo
{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";

}

/*HEADER*/

.header
{
    grid-area: header;
}

/*MAIN*/

.main__museo
{
    text-align:center;
    list-style-position:inside;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    grid-area: main;
    margin-top: 10px;
    margin-bottom: 10px;
}

 /*FOOTER*/

.footer
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    height: 60px;
    align-items:center ;
    justify-items: center;
    border-top: black solid 1px;
    grid-area: footer;
}